# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/

# Virtual environment
.venv/

# Environment variables (contains secrets)
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Database files
*.db
*.sqlite
*.sqlite3


# Local gitignore overrides
.gitignore.local

# Python eggs
ex1_math.egg-info/
*.egg-info/

.txt